<div id="<%= dom_id faq %>">
  <div>
    <strong>Question:</strong>
    <%= faq.question %>
  </div>

  <div>
    <strong>Answer:</strong>
    <%= faq.answer %>
  </div>

  <div>
    <strong>Inactive:</strong>
    <%= faq.inactive %>
  </div>

  <div>
    <strong>Ordering:</strong>
    <%= faq.ordering %>
  </div>

</div>
