<div class="min-h-screen py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-5xl mx-auto bg-white border border-gray-200 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-200 p-6">
      <div class="flex items-center justify-between mb-6">
        <!-- Title -->
        <h1 class="text-2xl font-semibold text-gray-900">
          <%= @user.class.model_name.human %> Details
        </h1>

        <!-- Buttons Group -->
        <div class="flex items-center gap-2">
          <%= link_to("Index", users_path, class: "btn btn-secondary-outline") %>
          <% if current_user.super_user? %>
            <%= link_to("Edit", edit_user_path(@user), class: "btn btn-primary-outline") %>
          <% end %>
        </div>
      </div>

      <div class="space-y-6">
        <div class="mt-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">

              <div class="mb-3">
                <p class="font-bold text-gray-700">First name:</p>
                <p class="text-gray-900"><%= @user.first_name %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Last name:</p>
                <p class="text-gray-900"><%= @user.last_name %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Email:</p>
                <p class="text-gray-900"><%= @user.email %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Address:</p>
                <p class="text-gray-900"><%= @user.address %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Address2:</p>
                <p class="text-gray-900"><%= @user.address2 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">City:</p>
                <p class="text-gray-900"><%= @user.city %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">City2:</p>
                <p class="text-gray-900"><%= @user.city2 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">State:</p>
                <p class="text-gray-900"><%= @user.state %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">State2:</p>
                <p class="text-gray-900"><%= @user.state2 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Zip:</p>
                <p class="text-gray-900"><%= @user.zip %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Zip2:</p>
                <p class="text-gray-900"><%= @user.zip2 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Phone:</p>
                <p class="text-gray-900"><%= @user.phone %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Phone2:</p>
                <p class="text-gray-900"><%= @user.phone2 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Phone3:</p>
                <p class="text-gray-900"><%= @user.phone3 %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Birthday:</p>
                <p class="text-gray-900"><%= @user.birthday %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Best time to call:</p>
                <p class="text-gray-900"><%= @user.best_time_to_call %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Comment:</p>
                <p class="text-gray-900"><%= @user.comment %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Notes:</p>
                <p class="text-gray-900"><%= @user.notes %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Confirmed:</p>
                <p class="text-gray-900"><%= @user.confirmed %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Inactive:</p>
                <p class="text-gray-900"><%= @user.inactive %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Legacy:</p>
                <p class="text-gray-900"><%= @user.legacy %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Legacy:</p>
                <p class="text-gray-900"><%= @user.legacy_id %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Super user:</p>
                <p class="text-gray-900"><%= @user.super_user %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Agency:</p>
                <p class="text-gray-900"><%= @user.agency_id %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Facilitator:</p>
                <p class="text-gray-900"><%= @user.facilitator_id %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Reset password token:</p>
                <p class="text-gray-900"><%= @user.reset_password_token %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Reset password sent at:</p>
                <p class="text-gray-900"><%= @user.reset_password_sent_at %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Remember created at:</p>
                <p class="text-gray-900"><%= @user.remember_created_at %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Sign in count:</p>
                <p class="text-gray-900"><%= @user.sign_in_count %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Current sign in at:</p>
                <p class="text-gray-900"><%= @user.current_sign_in_at %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Current sign in ip:</p>
                <p class="text-gray-900"><%= @user.current_sign_in_ip %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Last sign in at:</p>
                <p class="text-gray-900"><%= @user.last_sign_in_at %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Last sign in ip:</p>
                <p class="text-gray-900"><%= @user.last_sign_in_ip %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Avatar file name:</p>
                <p class="text-gray-900"><%= @user.avatar_file_name %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Avatar content type:</p>
                <p class="text-gray-900"><%= @user.avatar_content_type %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Avatar file size:</p>
                <p class="text-gray-900"><%= @user.avatar_file_size %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Avatar updated at:</p>
                <p class="text-gray-900"><%= @user.avatar_updated_at %></p>
              </div>
              <div class="mb-3">
                <p class="font-bold text-gray-700">Subscribecode:</p>
                <p class="text-gray-900"><%= @user.subscribecode %></p>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
